body{
	margin:0;
	padding:0px 0 0 0;
	font-size:62.5%;
	color:#4D4D4D;
	
}
a img {border:0;}
a, a:active {
	text-decoration:none;
	color:#6F50AD;
}
a:hover{color:#4D4D4D;}

h1, h2, h3, h4 {
	padding:0;
	margin:0 0 10px 0;
}

p {
	padding:0;
	margin: 0 0 1em 0;
}

h1 {
	font-size:3.6em;
	text-transform:uppercase;
}
h2{
	font-size:2.5em;
	line-height:1.4em;
}

h3{
	font-size:2.4em;
	text-transform:uppercase;
}

/* ---- nav ---- */


#TopNav {
	width:100%;
	text-align:center;
	top: 0px;
	z-index:9990;
	float:left;
	padding:10px 0;
        background-color: #000000;
       	position:fixed;

}



* html #TopNav {
   position: absolute;  
}



#TopNav ul {
	list-style-type:none;
	margin:0;
	padding:0;

}

#TopNav ul li {
	display:inline;
	padding:0 40px 0 0;

}

#TopNav ul li.last{
	padding:0 0px 0 0;
}

#TopNav ul li a{
	text-transform:uppercase;
	color:#6F50AD;
	font-size:4.5em;
        font-family: AR Delaney;

}

/* ---- frames ---- */

#Frame {
	padding: 0px 0 0 0;
	margin:0px auto;
        height: 720px;
}

#BodyText{
	margin: 0 auto;
}

.anchorlink {
	padding: 100px 0 0 0;
}

/* ---- banner ---- */

h1.banner {
	width:336px;
	height:468px;
	margin:80px auto;
	background:url(img/banner.png) no-repeat center;
	text-indent:-9999px;
	position:relative;
	text-align:center;
}


/* ---- header ---- */
#Header {
	float:left;
	height:680px;
}



/* ---- slideshow --- */
#BarrelSlideshow {
	margin: 0 0 15px 0;
}

.photoslide {
	width:260px;
	height:105px;
}

/* ---- rows ---- */

.oddrow, .evenrow {
	display:block;
        	float:left;

	padding:40px 0 40px 0;
	position:relative;
        height: 5px;
}


.evenrow {
	width:100%;
        height: 700px;
}
.evenrow1 {
	width:100%;
        height: 900px;
background: #6F50AD; /* For browsers that do not support gradients */
 
    background: -webkit-linear-gradient(#6F50AD 2%, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6F50AD 2%, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6F50AD 2%, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6F50AD 2%, #000000); /* Standard syntax (must be last) */
}
    .evenrow2 {
	width:100%;
        height: 900px;

}
.evenrow p {
	color:#4D4D4D;
	font-size:2.5em;
	line-height:1.3em;
}

.oddrow p {
	font-size:1.6em;
	line-height:1.4em;
}

.separator {
	border-bottom:dashed 2px #EA297B;
	margin:0 0 20px 0;
}



.leftcol2 {color:#E90089;}
.projtext {color:#4D4D4D;}

.barrel {
	float:left;
	background:#373737;
	color:#999999;
	height:515px;
	padding:20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.barrel h3 {
	color:#fff;
	margin-top:30px;
}
.barrel a{
	color:#fff;
}
#barc {float:right; width:600px;}
.meetbarc {color:#fff;margin:0 0 30px 0;padding:0 0 0 20px;font-size:1.4em;}
.aboutbarc img {padding:0 20px 0 0;}
.aboutbarc {padding:0 0 0 20px;}
.barcstats{
	background:#fff; 
	float:left; 
	padding:20px; 
	width:570px; 
	margin:20px 0 0 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.barcstats h1 {color:#77D4E3;}

.imageunit{
	width:183px;
	float:left;
	margin: 0 10px 0 0;
	font-size:0.6em;
}

.imageunit p {margin:0 0 20px 0;}

.theproject{color:#E90089;}

#staytunedtext {margin: 40px 0 0 40px;}
.staytuned{color:#77D4E3;text-align:center;position:relative;font-size:1.4em;}
.event{margin:30px 0 0 0;}

ul#links {
	margin:10px 0 0 0;
}

ul#links li {
	font-size:1.5em;
	padding:0 0 8px 0;
}

ul#links li a{
	color:#77d4e3;
}

/* ----- page -----*/
.page {
	float:left;
	width:315px;
	height:450px;
	padding:80px 70px;
	margin:30px 0 0 0;
}
.page h1 {color:#000;}
.page a {color:#E90089;}
.page a:hover {color:#4D4D4D;}

.page p {font-size:1.6em; line-height:1.4em;}
.page ul li {font-size:1.7em;padding:0 0 5px 0;}
.page img {margin-top:10px; float:left;}
.page em {
	text-transform:none;
	font-size:2.7em;
	padding:0; 
	margin:0;
	color:#000;
	float:left;
}


.page h1 {padding:0; margin:0;}

.page.two {margin:60px 0 40px 0; padding:75px 20px 80px 50px; height:470px; width:390px; float:right;}
.page.two h1 em {text-transform:none;font-size:1.25em; margin:0 0 25px 0;}

.page.two h1 {margin: 0 0 0px 0;}

.page.two .row {float:left; margin:10px 0 0px 0;}
.page.two .row.three {margin:10px 0 10px 0;}
.page.two .row.last {margin:10px 0 0 134px; width:100px;}

.evenrow .overcapacity {
	position:absolute;
	z-index:900;
	top:150px;
	left:0;
}

/*--- Clear --*/

.ClearAll {clear:both; padding:10px 0 0 0;}

/*--- cufon --*/

.cufon-loading #TopNav ul li a, .cufon-loading h1, .cufon-loading h1 strong, .cufon-loading h1 .middle, .cufon-loading .evenrow p.aboutbarc, .cufon-loading .oddrow h2, .cufon-loading .oddrow p, .cufon-loading .page p, .cufon-loading h1 em, .cufon-loading .evenrow .page p, .cufon-loading .page em, .cufon-loading .leftcol2 p, .cufon-loading .leftcol2 p.projtext, .cufon-loading .barrel a, .cufon-loading .links a, .cufon-loading .imageunit strong, .cufon-loading .jqmHeader h1, .cufon-loading .jqmClose, .cufon-loading #Thanks p, .cufon-loading #Thanks em, .cufon-loading #Thanks a {
visibility: hidden !important;}



/*--- footer --*/
.evenrow.footer {height:50px;padding:10px 0 0 0; margin:0 0 30px 0;
                    font-family: AR Delaney;}
#Footer {margin:0;padding:0; text-align:center;}
#Footer a {color:#6F50AD; font-size:1.8em; text-transform:uppercase;}
#Footer img {padding:0 8px;}



